ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

.div-shadow, .wrapper {
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6); }

.wrapper {
  position: relative;
  background: grey;
  width: 250px;
  margin: 25px auto;
  border: 12.5px solid saddlebrown;
  border-radius: 12.5px;
  overflow: hidden; }
  .wrapper .wrapper__stop {
    position: relative;
    padding: 0 2%;
    float: left;
    background: beige;
    border: 5px solid beige;
    border-radius: 10%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 94%;
    height: 30.66667%;
    margin: 3%; }
    .wrapper .wrapper__stop div {
      width: 100%;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .wrapper .wrapper__stop .stop--header {
      height: 28.57143%;
      overflow: hidden; }
      .wrapper .wrapper__stop .stop--header .stop--header__num {
        width: 50%;
        height: 100%;
        font-size: 40px;
        font-weight: bolder;
        text-align: inherit;
        color: black;
        padding: 2%; }
      .wrapper .wrapper__stop .stop--header .stop--header__notice {
        width: 50%;
        height: 50px; }
        .wrapper .wrapper__stop .stop--header .stop--header__notice span {
          float: left;
          width: 50%;
          height: 50%;
          font-size: 12.5px;
          font-weight: bolder;
          text-align: inherit;
          color: #0F68C1;
          padding: 5%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
    .wrapper .wrapper__stop .stop--title {
      background: red;
      letter-spacing: 20px;
      width: 100%;
      height: 14.28571%;
      font-size: 16.66667px;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
      padding: 1%; }
    .wrapper .wrapper__stop .stop--main {
      height: 42.85714%; }
      .wrapper .wrapper__stop .stop--main li {
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 10%;
        height: 100%;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        color: black;
        padding: 1%; }
    .wrapper .wrapper__stop .stop--main__tip {
      color: red !important; }
    .wrapper .wrapper__stop .stop--footer {
      height: 14.28571%; }
      .wrapper .wrapper__stop .stop--footer div {
        float: left;
        vertical-align: bottom;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      .wrapper .wrapper__stop .stop--footer .stop--footer__line1 {
        padding-top: 5px;
        border-bottom: 5px solid green;
        width: 40%;
        height: 0;
        margin: 0; }
      .wrapper .wrapper__stop .stop--footer .stop--footer__bus {
        width: 20%;
        height: 100%;
        font-size: 16.66667px;
        font-weight: bolder;
        text-align: center;
        color: black;
        padding: 0; }
      .wrapper .wrapper__stop .stop--footer .stop--footer__line2 {
        padding-top: 5px;
        border-bottom: 5px solid green;
        width: 20%;
        height: 0;
        margin: 0; }
      .wrapper .wrapper__stop .stop--footer .stop--footer__arrow {
        border-left: 41.66667px solid green;
        border-top: 10px solid transparent;
        border-right: 0;
        border-bottom: 0;
        width: 20%;
        height: 0;
        margin: 0; }

/*# sourceMappingURL=busStop.css.map */
